<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()"  class="mx-1 mx-md-4 form-container">
                    <div formGroupName="signUp" class="form-area">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="Enter your user name"/>
                        <label class="form-label" for="userName" >User Name</label>
                      </div>
                      <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="userName?.errors?.['required'] || userName?.errors?.['notOnlyWhitespace']">User Name is Required</div>
                        <div *ngIf="userName?.errors?.['minlength']">User Name must be atleast 4 characters long</div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0 form-group">
                        <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="Enter your first name"/>
                        <label class="form-label" for="firstName" >First Name</label>
                      </div>
                      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">First Name is Required</div>
                        <div *ngIf="firstName?.errors?.['minlength']">First Name must be atleast 2 characters long</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Enter your last name"/>
                        <label class="form-label" for="lastName" >Last Name</label>
                      </div>
                      <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">Last Name is Required</div>
                        <div *ngIf="lastName?.errors?.['minlength']">Last Name must be atleast 2 characters long</div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email address"/>
                        <label class="form-label" for="email" >Your Email</label>
                      </div>
                      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlyWhitespace']">Email is Required</div>
                        <div *ngIf="email?.errors?.['pattern']">Email must be a valid email address format</div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fa fa-phone fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="number" id="phone" class="form-control" formControlName="phone" placeholder="Enter your contact no."/>
                        <label class="form-label" for="phone" >Contact No.</label>
                      </div>
                      <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="phone?.errors?.['required'] || phone?.errors?.['notOnlyWhitespace']">Contact no. is Required</div>
                        <div *ngIf="phone?.errors?.['pattern']">Conatact no. must be valid</div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your password"/>
                        <label class="form-label" for="password" >Password</label>
                      </div>
                      <br>
                      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="password?.errors?.['required'] || password?.errors?.['notOnlyWhitespace']">Password is Required</div>
                        <div *ngIf="password?.errors?.['pattern']">Password must contain Upper & lower case with special character</div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="confirmpassword" class="form-control" formControlName="confirmpassword" placeholder="confirm password"/>
                        <label class="form-label" for="confirmpassword">Repeat your password</label>
                      </div>
                      <div *ngIf="confirmpassword?.invalid && (confirmpassword?.dirty || confirmpassword?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="confirmpassword?.errors?.['required']">Confirm Password is Required</div>
                        <!-- <div *ngIf="confirmpassword?.value !== password?.value">Passwords do not match</div> -->
                      </div>
                      
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" formControlName="termsAndConditions"/>
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
                    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signUpFormGroup.valid || !signUpFormGroup.get('signUp.termsAndConditions')?.value || confirmpassword?.value !== password?.value">Register</button>
  
                    </div>
                    </div>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>